@model IEnumerable<Expense_Vendor_Management.Models.Vendor>

    @{
        ViewData["Title"] = "AllVendorForms";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }



    <div class="nk-block nk-block-lg">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
            <h4 class="nk-block-title">Your Vendors</h4>

            </div>
        </div>
        <div class="card card-preview">
            <div class="card-inner">

                <table class="datatable-init-export nowrap table">
                    <thead>
                        <tr>
                            <th>
                                  Vendor ID
                            </th>
                            <th>
                              Vendor Name
                            </th>
                            <th>
                              Cost Center
                            </th>
                            <th>
                           Service Type
                            </th>
                            <th>
                                Category

                            </th>
                  
                              
                        
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vendorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.costCenter)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.poductType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.catagory)
                                </td>
                             
               
                         
                                <td>
                                <a href="~/ActionCenter/VendorActionCenter?id=@item.id">
                                    Details
                                </a>
                   

                            </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div><!-- .card-preview -->
    </div>

    <script type="text/javascript">

        function DeleteInvoice(id) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: '/InvoiceSide/DeleteInvoice'
                        , type: 'GET'
                        , data: { id: id }
                        , contentType: 'application/json'
                        , success: function (response) {

                            Swal.fire('Deleted!', 'Your file has been deleted.', 'success');
                            location.reload();
                        }
                    });

                }
            });

        }

    </script>







