@model Expense_Vendor_Management.Models.CostCenterExpense

@{
    ViewData["Title"] = "Cost Expense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
    .mandatory {
        color: red;
    }

    @@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');


    .tooltip-container {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    .tooltip {
        opacity: 0;
        z-index: 99;
        color: #bbb;
        width: 240px;
        display: block;
        font-size: 14px;
        font-family: 'cairo',serif;
        padding: 5px 10px;
        border-radius: 3px;
        text-align: center;
        text-shadow: 1px 1px 2px #111;
        background: rgba(51,51,51,0.9);
        border: 1px solid rgba(34,34,34,0.9);
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        right: -80px;
        bottom: 40px;
    }

        .tooltip:before, .tooltip:after {
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgba(51,51,51,0.9);
            position: absolute;
            bottom: -10px;
            left: 43%;
        }

    .tooltip-container:hover .tooltip, a:hover .tooltip {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
</style>

<div class="nk-block nk-block-lg">
    
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Branch Expense Form</h5>
            </div>
            <form asp-action="EditCostExpenseForm" asp-controller="AllForms" id="fileuploadlist" enctype="multipart/form-data" method="post">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="submissionDate">
                                Submission Date<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" hidden type="hidden" asp-for="id" required>
                                <input class="form-control" hidden type="hidden" asp-for="createdBy" required>
                                <input class="form-control" hidden type="hidden" asp-for="expenseCategory" required>
                                <input class="form-control" hidden type="hidden" asp-for="modifiedBy" required>
                                <input class="form-control" hidden type="hidden" asp-for="status" required>
                                <input class="form-control" hidden type="hidden" asp-for="displayid" required>
                                <input class="form-control" type="date" id="submissionDate" asp-for="submissionDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseCategory">
                                Cost Center ID<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-select" required asp-for="costcenterid">
                                    <option value="">Select Cost Center</option>
                                    @foreach (var item in ViewBag.costexpense)
                                    {
                                        <option value="@item.CostCenterID">@item.CostCenterID</option>
                                    }

                                    <!-- Add more options here if needed -->
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseOccurred">
                                Amount<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <div id="fixedAmountWrap" class="input-group hidden">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" id="amount" asp-for="amount" class="form-control" placeholder="Enter Amount" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseDate">
                                Expense Date<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">

                                <input class="form-control" type="date" id="expenseDate" asp-for="expenseAccurred" required>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" type="text" id="expensecategoryall" hidden asp-for="expenseCategory" required>
                    <div class="col-lg-6">
                        <div class="from-group">



                            <label class="form-label" style="color:#241c4f" for="expenseCategory">
                                Expense Category<span class="mandatory">*</span>
                            </label>
                            <select class="form-select" id="expensecat" required name="ecatagory[]" multiple="multiple" data-placeholder="Select Multiple options">
                                <option value="">Select Expense Category</option>
                                <option value="60110 Relocation Expense">60110 Relocation Expense</option>
                                <option value="60120 Training">60120 Training</option>
                                <option value="60130 Continuing Education">60130 Continuing Education</option>
                                <option value="60140 Employee Events">60140 Employee Events</option>
                                <option value="60150 Recruitment">60150 Recruitment</option>
                                <option value="63010 Meals & Entertainment">63010 Meals & Entertainment</option>
                                <option value="63020 Travel">63020 Travel</option>
                                <option value="63025 Auto Expense/Mileage">63025 Auto Expense/Mileage</option>
                                <option value="63025 Auto Expense/Gas">63025 Auto Expense/Gas</option>
                                <option value="63035 Hotel">63035 Hotel</option>
                                <option value="63040 Travel & Entertainment - Other">63040 Travel & Entertainment - Other</option>
                                <option value="63110 Office Expense - Cleaning">63110 Office Expense - Cleaning</option>
                                <option value="63115 Office Maintenance & Services">63115 Office Maintenance & Services</option>
                                <option value="63125 Telephone/Internet">63125 Telephone/Internet</option>
                                <option value="63130 Office Supplies">63130 Office Supplies</option>
                                <option value="63135 Utilities">63135 Utilities</option>
                                <option value="65010 License and Permits">65010 License and Permits</option>
                                <option value="65011 NMLS Licensing Fees">65011 NMLS Licensing Fees</option>
                                <option value="65012 Computer & Internet Expenses">65012 Computer & Internet Expenses</option>
                                <option value="65015 Donations">65015 Donations</option>
                                <option value="65016 Seminars and Continuing Education">65016 Seminars and Continuing Education</option>
                                <option value="65025 Membership Fees">65025 Membership Fees</option>
                                <option value="65030 Computer & Office Equipment">65030 Computer & Office Equipment</option>
                                <option value="65039 Postage">65039 Postage</option>
                                <option value="65040 Courier and Delivery Fees">65040 Courier and Delivery Fees</option>
                                <option value="66010 Dues & Subscriptions">66010 Dues & Subscriptions</option>
                                <option value="Other">Other</option>
                            </select>


                        </div>
                    </div>
                    <div class="col-lg-6" style="display:none;" id="othercatsection">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseDate">
                                Other Category<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" type="text" name="othercat" id="othercatnew">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label tooltip-container" for="vendorName">
                                <div class="form-icon form-icon-right">
                                    <em class="icon ni ni-info" style="margin-left: 55PX;margin-top: -11PX;"></em>
                                </div>
                                Vendor Name<span class="mandatory">
                                    *


                                </span>

                                <span class="tooltip">If this is a reimbursement for multiple expenses on your credit card just type "My Credit Card" for vendor, if it is for another employee in your Cost Center then please write type their name in as the vendor</span>

                            </label>
                            <div class="form-control-wrap">
                                <input type="text" required class="form-control" id="vendorName" asp-for="vandorName">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseDescription">
                                Description<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" asp-for="expenseDescription" required style="min-height:auto;"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="notes">
                                Notes<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" asp-for="notes" required style="min-height:auto;"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Update Information</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card card-preview">
        <div class="card-inner">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                        <li class="nav-item">
                            <a class="nav-link active"><em class="icon ni ni-user-circle"></em><span>All Documents</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <table class="datatable-init-export nowrap table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Media Type</th>
                        <th>Attachment</th>
                        <th>Request ID</th>
                        <th>Created On</th>
                        <th>Created By</th>
                        <th>Belongs To</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.Media.Count; i++)
                    {
                        <tr>
                            <td>
                                @ViewBag.Media[i].Id
                            </td>
                            <td>
                                @ViewBag.Media[i].mediaType
                            </td>
                            <td>
                                <a href="#">
                                    <em style="font-size:32px; color:#241c4f;" class="icon ni ni-file-pdf"></em>
                                </a>
                            </td>
                            <td>
                                @ViewBag.Media[i].ReqID
                            </td>
                            <td>
                                @ViewBag.Media[i].createdON
                            </td>
                            <td>
                                @ViewBag.Media[i].createdBy
                            </td>
                            <td>
                                @ViewBag.Media[i].belongTo
                            </td>
                            <td>
                                @ViewBag.Media[i].belongcate
                            </td>
                            <td>
                                <a>
                                    <em class="icon ni ni-trash-fill " onclick="DeleteMedia('@ViewBag.Media[i].Id')"></em>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/theme/assets/js/bundle.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var cat = $('#expensecategoryall').val();

        var items = cat.split(",");
        var notFoundItems = [];
        $.each(items, function (index, item) {
            var $selects = $("select#expensecat");
            var found = false;
            $selects.each(function () {
                var $option = $(this).find('option[value="' + item + '"]');
                if ($option.length) {
                    $option.prop('selected', true);
                    found = true;
                }
            });

            if (!found) {
                console.log("Item not found: " + item);
                notFoundItems.push(item);
            }
        });
        if (notFoundItems.length === 1) {
       
            $("#othercatsection").show();
            $("#othercatnew").attr("required", true);
            $("#othercatnew").val(notFoundItems[0]);

        }
        else
        {
            $("#othercatsection").hide();
            $("#othercatnew").attr("required", false);
        }

    
    });

    $(document).ready(function () {
    $("#expensecat").change(function () {
        var $select = $('#expensecat');
    
        var test = "0";
        var selectedOptions = $select.find('option:selected');

        selectedOptions.each(function () {
            var selectedValue = $(this).val();
            if (selectedValue == "Other") {
                test = "1";
                $("#othercatsection").show();
                $("#othercatnew").attr("required", true);
            }
        });
        if (test == "0") {
            $("#othercatsection").hide();
            $("#othercatnew").attr("required", false);
        }
        });

    });


    const amountInput = $('#amount');

    amountInput.on('input', function () {
        // Remove any non-numeric characters
        const rawValue = amountInput.val().replace(/[^0-9]/g, '');

        // Format the raw value as '20,000'
        const formattedValue = new Intl.NumberFormat('en-US').format(rawValue);

        // Update the input field with the formatted value
        amountInput.val(formattedValue);
    });

</script>