@model Expense_Vendor_Management.Models.Vendor

@{
    ViewData["Title"] = "VendorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hidden {
        display: none;
    }

    .mandatory {
        color: red;
    }
</style>

<div class="nk-block nk-block-lg">
  
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Vendor Form</h5>
            </div>
            <form asp-action="EditVendorForm" asp-controller="AllForms" id="fileuploadlist" enctype="multipart/form-data" method="post">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="full-name-1">
                                Vendor Name<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="Text" required class="form-control" asp-for="vendorName" id="full-name-1">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="costCenter">
                                Cost Center<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" required class="form-control" id="costCenter" asp-for="costCenter">
                                <input hidden required class="form-control" id="costCenter" asp-for="createdBy">
                                <input hidden required class="form-control" id="costCenter" asp-for="id">
                                <input hidden required class="form-control" id="costCenter" asp-for="notes">
                                <input hidden required class="form-control" id="costCenter" asp-for="status">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="productCenter">
                                Service Type<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-select" id="productCenter" asp-for="poductType">
                                    <option value="coaching">Coaching</option>
                                    <option value="Correspondent Lender">Correspondent Lender</option>
                                    <option value="Individual Consultant">Individual Consultant</option>
                                    <option value="Insurance">Insurance</option>
                                    <option value="Leads">Leads</option>
                                    <option value="Lease">Lease</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Professional Service">Professional Service</option>
                                    <option value="Software">Software</option>
                                    <option value="Utilities">Utilities</option>
                                    <option value="Verification Service">Verification Service</option>
                                    <option value="Warehouse Lender">Warehouse Lender</option>
                                    <option value="Wholesale Lender">Wholesale Lender</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f">
                                <span class="mandatory">*</span> Product Category
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" required asp-for="catagory">
                                    <option selected>Accounting</option>
                                    <option>Building</option>
                                    <option>Compliance</option>
                                    <option>Insurance</option>
                                    <option>Investor</option>
                                    <option>Legal</option>
                                    <option>Marketing</option>
                                    <option>Operations</option>
                                    <option>Sales</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f">
                                Critical Vendor<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" asp-for="criticalVendor">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f">
                                Contract Documents
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" asp-for="Contractdoc" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f">
                                Assessments
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" asp-for="assesmentsdoc" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="otherdocument">
                                Other Documents
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" asp-for="otherdoc" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="paymentAmount">
                                Payment Amount<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" id="paymentAmount" onchange="toggleTextBox()">
                                    <option value="">Select an Option</option>
                                    <option value="fixed">Fixed Amount</option>
                                    <option value="other">Other Amount</option>
                                </select>
                                <input type="text" id="paymentAmountTextBox" asp-for="paymentAmount" class="form-control hidden" placeholder="Enter Amount">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f">
                                Auto Payment<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" asp-for="autoPayment" id="paymentAmount">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="contractExpiration">
                                Contract Expiration<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="date" asp-for="contractExpiration" class="form-control" id="contractExpiration">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f">
                                Auto Renew<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" asp-for="autoRenew">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="dateToCancel">
                                Date To Cancel<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" asp-for="dateToCancel" type="date" id="dateToCancel">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 align-center">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="form-label" style="color:#241c4f">Technology vendor</label>
                                <span class="form-note">Is this venodr a technology vendor Y/N</span>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <ul class="custom-control-group g-3 align-center flex-wrap">
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="true" checked name="TechnolgyVendor" id="reg-enable1">
                                        <label class="custom-control-label" for="reg-enable1">Yes</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="false" name="TechnolgyVendor" id="reg-disable1">
                                        <label class="custom-control-label" for="reg-disable1">No</label>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-6 align-center">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="form-label" style="color:#241c4f">Customer Access</label>
                                <span class="form-note">Will the Vendor have access to Customer or employee Personal/Private Information (PII)</span>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <ul class="custom-control-group g-3 align-center flex-wrap">
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="true" asp-for="CustomerAccess" id="reg-enable">
                                        <label class="custom-control-label" for="reg-enable">Yes</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="false" asp-for="CustomerAccess" id="reg-disable">
                                        <label class="custom-control-label" for="reg-disable">No</label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 align-center">
                    
                        <div class="col-lg-12 align-center">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label" style="color:#241c4f">Customer Information</label>
                                    <span class="form-note">would you want to Add Customer Information</span>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <ul class="custom-control-group g-3 align-center flex-wrap">
                                    <div class="custom-control custom-switch" style="margin-left:60PX">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1">Yes/No</label>
                                    </div>


                                </ul>
                            </div>
                        </div>
                    
                        
                    </div>

                    <span style="display:none;" id="customeeinfo">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label" style="color:#241c4f">
                                        Contact Name<span class="mandatory">*</span>
                                    </label>
                                    <div class="form-control-wrap">
                                        <input asp-for="ContactName" id="ContactName" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label" style="color:#241c4f">
                                        Contact Email<span class="mandatory">*</span>
                                    </label>
                                    <div class="form-control-wrap">
                                        <input asp-for="ContactEmail" id="ContactEmail" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label" style="color:#241c4f">
                                        Contact Phone<span class="mandatory">*</span>
                                    </label>
                                    <div class="form-control-wrap">
                                        <input asp-for="ContactPhone" id="ContactPhone" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label" style="color:#241c4f">
                                        Contact website<span class="mandatory">*</span>
                                    </label>
                                    <div class="form-control-wrap">
                                        <input asp-for="ContactWebsite" id="ContactWebsite" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Update Information</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card card-preview">
        <div class="card-inner">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                        <li class="nav-item">
                            <a class="nav-link active"><em class="icon ni ni-user-circle"></em><span>Invoice Documents</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <table class="datatable-init-export nowrap table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Media Type</th>
                        <th>Attachment</th>
                        <th>Request ID</th>
                        <th>Created On</th>
                        <th>Created By</th>
                        <th>Belongs To</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.Media.Count; i++)
                    {
                        <tr>
                            <td>
                                @ViewBag.Media[i].Id
                            </td>
                            <td>
                                @ViewBag.Media[i].mediaType
                            </td>
                            <td>
                                <a href="#">
                                    <em style="font-size:32px" class="icon ni ni-file-pdf"></em>
                                </a>
                            </td>
                            <td>
                                @ViewBag.Media[i].ReqID
                            </td>
                            <td>
                                @ViewBag.Media[i].createdON
                            </td>
                            <td>
                                @ViewBag.Media[i].createdBy
                            </td>
                            <td>
                                @ViewBag.Media[i].belongTo
                            </td>
                            <td>
                                <a>
                                    <em class="icon ni ni-trash-fill " onclick="DeleteMedia('@ViewBag.Media[i].Id')"></em>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/theme/assets/js/bundle.js"></script>
<script>
    function toggleTextBox() {
        var select = document.getElementById("paymentAmount");
        var textBox = document.getElementById("paymentAmountTextBox");

        if (select.value === "fixed") {
            textBox.classList.remove("hidden");
        } else {
            textBox.classList.add("hidden");
        }
    }
    $(document).ready(function () {
        // Original function when the checkbox is changed
        $("#customSwitch1").change(function () {
            if ($(this).is(":checked")) {
                $('#customeeinfo').show();
                $("#ContactName").prop("required", true);
                $("#ContactEmail").prop("required", true);
                $("#ContactPhone").prop("required", true);
                $("#ContactWebsite").prop("required", true);


            } else {
                $('#customeeinfo').hide();
                $("#ContactName").prop("required", false);
                $("#ContactEmail").prop("required", false);
                $("#ContactPhone").prop("required", false);
                $("#ContactWebsite").prop("required", false);
            }
        });
    });
</script>
